@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }

  @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin mb($numer) {
  margin-bottom: 1rem * $base-heading-line-height * $numer;
}

@mixin mt($numer) {
  margin-top: 1rem * $base-heading-line-height * $numer;
}
