$text-font-stack: 'Open Sans', sans-serif;

$code-font-stack: 'Courier New', monospace !default;

$text-color: rgb(51, 51, 51) !default;

$brand-color: rgb(229, 0, 80) !default;

$light-grey: rgb(237, 237, 237) !default;

$mid-grey: rgb(153, 153, 153) !default;

$dark-grey: rgb(68, 68, 68) !default;

$max-width: 1180px !default;

$base-ratio: 1.2;
$base-line-height: $base-ratio * 1.25;
$base-heading-line-height: $base-ratio;
$rhythm: 3;

$mq-responsive: true;
$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px,
);
$mq-static-breakpoint: desktop;
$modularscale: (
  base: 1rem,
  ratio: 1.2,
  740px: (
    ratio: 1.3,
  ),
  1300px: (
    ratio: 1.5,
  ),
);
$base-url: '/' !default;
