html {
  font-size: 87.5%;

  @include mq($from: tablet) {
    font-size: 100%;
  }

  @include mq($from: wide) {
    font-size: 112.5%;
  }
}

body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 1rem;
  line-height: $base-line-height;
  font-weight: 400;

  @include ms-respond(font-size, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-heading-line-height;
  letter-spacing: -0.04em;
  font-weight: 500;

  @include mt(3);
  @include mb(1);
}

h1 {
  @include ms-respond(font-size, 5);
}

h2 {
  @include ms-respond(font-size, 4);
}

h3 {
  @include ms-respond(font-size, 3);
}

h4 {
  @include ms-respond(font-size, 2);
}

h5 {
  @include ms-respond(font-size, 1);
}

h6 {
  font-size: 1em;

  @include ms-respond(font-size, 0);
}

p {
  margin: 0 auto;
}

p + p {
  text-indent: 1em;
}

small,
.text_small {
  @include ms-respond(font-size, -1);
}
